@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;800&display=swap');

*{
    box-sizing:border-box;
    margin: 0;
    padding: 0;
    font-family: 'Orbitron', sans-serif;
 }

 