/*@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,700;1,200;1,400&display=swap');*/
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;800&display=swap');

 *{
     box-sizing:border-box;
     margin: 0;
     padding: 0;
     font-family: 'Orbitron', sans-serif;
  }


 .showcase {
     position:absolute;
     right: 0;
     width: 100%;
     min-height: 100vh;
     padding: 100px;
     display: flex;
     justify-content: space-between;
     align-items: center;
     background: #111;
     color: #fff;
     z-index: 2;
     transition:0.5s;
 }


 .showcase header{
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     padding: 40px 100px;
     z-index: 1000;
     display: flex;
     align-items: center;
     justify-content: space-between;
     text-shadow: 5px 5px #0000ff;
 }


 .showcase video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.8;
}


table, th, td{
    border: 1px solid white;
    border-radius: 10px;    
}


table th{
    padding:20px;
    margin-right:20px;
    text-decoration-line:underline;
    text-decoration-color: turquoise;
    
}


table{
    margin-top: 10px;
    text-align: start;
}


table td{
    padding:10px;
}

 .showcase.active{
     right:300px;
 }

 .logo {
     text-transform: uppercase;
     cursor: pointer;
     transition:1s;
 }

 .logo :hover{
    transform:scale(1.15) translateY(-8px);
 }

 .toggle{
    background: url('minecraft.png');
    background-repeat: no-repeat;
    background-size: 40px;
    background-position: center;
    position: relative;
    width: 60px;
    height: 60px;
    cursor: pointer;
     
 }

 .toggle.active{
    background: url('active.png');
    background-repeat: no-repeat;
    background-size: 35px;
    background-position: center;
    filter: invert(1);
    
 }
 

 .showcase img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.5;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #03a9f4;    
    opacity:0.4;
    mix-blend-mode: overlay;
    
}
.text {
    position: relative;
    z-index: 10;
}

.text p{
    font-size: 18px;
    text-shadow: 2px 2px black;
}

.text header{
    position: relative;
    z-index: 10;
    text-shadow: 5px 5px #0000ff;
}

.menu{
    position:absolute;
    top:0;
    right:0;
    width:300px;
    height:100%;
    display:flex;
    align-items: center;
    justify-content: center;
}

.menu ul{
    position: relative;
    list-style: none;
}

.menu ul li a{
    text-decoration:none;
    font-size: 24px;
    color: #111;

}

.menu ul li a:hover{
    color:#03a9f4;
}

form input{
    display:relative;
    text-align:left;
    padding:4px;
    vertical-align: top;
    border-radius: 15px;
    outline: none;
}

#bottom{
    color:white;
    position:absolute;
    bottom: 0;
    left:35%;
    padding-bottom: 30px;
    z-index: 10;
}

#bottom a :hover{
    
    color:red;
}

#image img{
    position:absolute;
    z-index:11;
    top:25%;
    right:20%;
    height:300px;
    width:300px;
    filter: invert(1);
    transition: 0.5s;
}

#image img:hover{
    transform: scale(1.25) translate3d(5px, 5px, 5px);
}

.words{
    display:absolute;
    z-index:10;
    padding-bottom: 20px;
    font-size:20px;
}

